<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Edit book</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" name="form" #ff="ngForm">
                <div class="example-container">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Title" [(ngModel)]="book.title" name="title" required
                            #title="ngModel">
                        <mat-error *ngIf="title.touched && title.invalid">{{'required'}}</mat-error>
                        <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Author" [(ngModel)]="book.author" name="author" required
                            #author="ngModel">
                        <mat-error *ngIf="author.touched && author.invalid">{{'required'}}</mat-error>
                        <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="pagesNumber" [(ngModel)]="book.pagesNumber" name="pagesNumber" required
                            #pagesNumber="ngModel">
                        <mat-error *ngIf="pagesNumber.touched && pagesNumber.invalid">{{'required'}}</mat-error>
                        <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="update()" color="primary" [disabled]="ff.form.invalid">Update</button>
        </mat-card-actions>
    </mat-card>

</div>