<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">

        <mat-card-content>
            <button class="btnSocialLogin" mat-raised-button type="submit" color="primary" style="margin: auto; width:250px" (click)="googleLogin()">
                <img class="imgSocialLogin" src="assets/images/googlelogo.png"> <span class="spanSocialLogin" translate>Login with Google</span>
            </button>
                <br>
                <br>
            <button class="btnSocialLogin" mat-raised-button type="submit" color="primary" style="margin: auto; width:250px" (click)="githubLogin()">
                <img class="imgSocialLogin" src="assets/images/github.png"> <span class="spanSocialLogin" translate>Login with Github</span>
            </button>
                <br>
                <br>
            <button class="btnSocialLogin" mat-raised-button type="submit" color="primary" style="margin: auto; width:250px" (click)="gitlabLogin()">
                <img class="imgSocialLogin" src="assets/images/gitlab.png"> <span class="spanSocialLogin" translate>Login with Gitlab</span>
            </button>
            <br>
            <br>
            <button class="btnSocialLogin" mat-raised-button type="submit" color="primary" style="margin: auto; width:250px" (click)="linkedinLogin()">
                <img class="imgSocialLogin" src="assets/images/linkedin.png"> <span class="spanSocialLogin" translate>Login with Linkedin</span>
            </button>
            <br>
            <br>
            <button class="btnSocialLogin" mat-raised-button type="submit" color="primary" style="margin: auto; width:250px" (click)="facebookLogin()">
                <img class="imgSocialLogin" src="assets/images/facebook.png"> <span class="spanSocialLogin" translate>Login with Facebook</span>
            </button>
            <br>
            <br>
            <button class="btnSocialLogin" mat-raised-button type="submit" color="primary" style="margin: auto; width:250px" (click)="keycloakLogin()">
                <img class="imgSocialLogin" src="assets/images/Keycloak_Logo.png"> <span class="spanSocialLogin" translate>Login with Keycloak</span>
            </button>
            <br>
            <br>
            <button class="btnSocialLogin" mat-raised-button type="submit" color="primary" style="margin: auto; width:250px" (click)="grizzlyLogin()">
                <img class="imgSocialLogin" src="assets/images/email-logo.png"> <span class="spanSocialLogin" translate>Login with Grizzly</span>
            </button>
                <br>
                <br>

        </mat-card-content>
    </mat-card>

</div>